<a href="https://colab.research.google.com/github/DAN-MASH/Machine_learning_models/blob/main/Mentorship_Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import Necessary Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
sns.set_style('darkgrid')
plt.style.use('fivethirtyeight')
import os

In [ ]:
data = pd.read_excel('/content/_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', sheet_name='Mentorship_Sessions')

In [ ]:
data.head(5)

,Unnamed: 0,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded
0,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,40.0,Yes,2023-01-01,NaN
1,2002.0,1003.0,Emily Davis,Carol White,2.0,30.0,Yes,2023-01-08,NaN
2,2003.0,1005.0,James Wilson,Jane Smith,2.0,40.0,Yes,2023-01-15,NaN
3,4.0,1005.0,David Thompson,NaN,2.0,50.0,Yes,2023-01-22,NaN
4,2001.0,1004.0,Emily Davis,Bob Brown,1.0,30.0,No,2023-01-29,NaN

In [ ]:
#understand the datashape
data.shape

(109, 9)

In [ ]:
#DATA CLEANING

In [ ]:
#identify missing values
null_values = data.isnull().sum()
null_values

Unnamed: 0                1
Mentor_ID                 1
Mentor_Name               0
Mentee_Name               2
Session_Number            1
Session_Duration_Min      2
Job_Info_Completed        1
Session_Date              1
Points_Awarded          109
dtype: int64

In [ ]:
duplicates = data.duplicated().sum()
duplicates

0

In [ ]:
nul_cols=['Mentor_ID','Mentee_Name','Session_Number','Session_Duration_Min','Job_Info_Completed','Session_Date']
nul_cols

['Mentor_ID',
 'Mentee_Name',
 'Session_Number',
 'Session_Duration_Min',
 'Job_Info_Completed',
 'Session_Date']

In [ ]:
#drop the null values
data.dropna(subset=nul_cols, inplace=True)

In [ ]:
data.head()

,Unnamed: 0,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded
0,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,40.0,Yes,2023-01-01,NaN
1,2002.0,1003.0,Emily Davis,Carol White,2.0,30.0,Yes,2023-01-08,NaN
2,2003.0,1005.0,James Wilson,Jane Smith,2.0,40.0,Yes,2023-01-15,NaN
4,2001.0,1004.0,Emily Davis,Bob Brown,1.0,30.0,No,2023-01-29,NaN
5,2003.0,1002.0,David Thompson,Jane Smith,2.0,50.0,No,2023-02-05,NaN

In [ ]:
null_values = data.isnull().sum()
null_values

Unnamed: 0                0
Mentor_ID                 0
Mentor_Name               0
Mentee_Name               0
Session_Number            0
Session_Duration_Min      0
Job_Info_Completed        0
Session_Date              0
Points_Awarded          106
dtype: int64

In [ ]:
#specific directory to store the cleaned data
#Convert the cleaned data to excel
dir = "/content/sample_data"
file_name='cleaned_data.xlsx'
file_path = os.path.join(dir, file_name)

In [ ]:
data.to_excel(file_path, index=False)

In [ ]:
data.head()

,Unnamed: 0,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded
0,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,40.0,Yes,2023-01-01,NaN
1,2002.0,1003.0,Emily Davis,Carol White,2.0,30.0,Yes,2023-01-08,NaN
2,2003.0,1005.0,James Wilson,Jane Smith,2.0,40.0,Yes,2023-01-15,NaN
4,2001.0,1004.0,Emily Davis,Bob Brown,1.0,30.0,No,2023-01-29,NaN
5,2003.0,1002.0,David Thompson,Jane Smith,2.0,50.0,No,2023-02-05,NaN

In [ ]:
#Identify the unique mentees for each mentor
mentee_counts = data.groupby('Mentor_Name')['Mentee_Name'].nunique()
mentee_counts

Mentor_Name
David Thompson    5
Emily Davis       5
James Wilson      5
Michael Lee       5
Sarah Clark       5
Name: Mentee_Name, dtype: int64

In [ ]:
data.head(5)

,Unnamed: 0,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded
0,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,40.0,Yes,2023-01-01,0
1,2002.0,1003.0,Emily Davis,Carol White,2.0,30.0,Yes,2023-01-08,0
2,2003.0,1005.0,James Wilson,Jane Smith,2.0,40.0,Yes,2023-01-15,0
4,2001.0,1004.0,Emily Davis,Bob Brown,1.0,30.0,No,2023-01-29,0
5,2003.0,1002.0,David Thompson,Jane Smith,2.0,50.0,No,2023-02-05,0

In [ ]:
df = data

In [ ]:
# Load the cleaned data
file_path = '/content/cleaned_data.xlsx'
df = pd.read_excel(file_path, sheet_name='Mentorship_Sessions')

In [ ]:
mentee_counts = df.groupby('Mentor_ID')['Mentee_ID'].nunique()
mentee_counts

Mentor_ID
1001    6
1002    5
1003    5
1004    5
1005    5
Name: Mentee_ID, dtype: int64

Use the Cleaned data to Award the Points As per the provided rules.
The Mentee_ID column was adjusted using Excel.

In [ ]:
import pandas as pd

# Load the cleaned data
file_path = '/content/cleaned_data.xlsx'
df = pd.read_excel(file_path, sheet_name='Mentorship_Sessions')


# Initialize the point_awards column
df['Point_Awards'] = 0
# Rule 1: Award 250 points for signing up as a mentor (one-time allocation)
df['Point_Awards'] += 250
# Rule 2: Award 1000 points for conducting mentorship with 2 different mentees
# Count the number of unique mentees for each mentor
mentee_counts = df.groupby('Mentor_ID')['Mentee_ID'].nunique()

# Apply the rule to the dataframe
df['Point_Awards'] += df['Mentor_ID'].map(lambda mentor: 1000 if mentee_counts[mentor] >= 2 else 0)

# Rule 3: Allocate points based on session conditions
# Filter rows where session length is at least 30 minutes
valid_sessions = df[df['Session_Duration_Min'] >= 30]

# Check if there are two sessions with the same mentee for each mentor
session_counts = valid_sessions.groupby(['Mentor_ID', 'Mentee_ID']).size()

# Apply points for mentorship relationships
df['Point_Awards'] += df.apply(lambda row: 500 if session_counts.get((row['Mentor_ID'], row['Mentee_ID']), 0) >= 2 else 250 if row['Session_Duration_Min'] >= 30 else 0, axis=1)

# Rule 4: Award additional 250 points for sessions with job information
df['Point_Awards'] += df.apply(lambda row: 250 if row['Job_Info_Completed'] == 'Yes' else 0, axis=1)

# # Save the updated dataframe
# df.to_excel('/mnt/data/updated_mentorship_sessions_with_points.xlsx', index=False)

# df.head()  # Display the first few rows to verify

In [ ]:
#Provide the code to testing and verifying the accuracy of the allocations.

In [ ]:
df.head(50)

,Mentor_ID,Mentee_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded,Point_Awards
0,1001,2003,David Thompson,Bob Brown,2,40,Yes,2023-12-03,NaN,2000
1,1002,2005,David Thompson,Jane Smith,2,50,No,2023-02-05,NaN,1750
2,1002,2004,David Thompson,Bob Brown,1,20,Yes,2023-07-02,NaN,1500
3,1002,2003,David Thompson,Alice Johnson,2,40,No,2023-08-13,NaN,1750
4,1002,2001,David Thompson,Bob Brown,2,50,No,2024-07-14,NaN,1750
5,1003,2002,David Thompson,Carol White,2,40,No,2023-06-25,NaN,1750
6,1003,2001,David Thompson,John Doe,2,40,No,2023-07-23,NaN,1750
7,1003,2004,David Thompson,Bob Brown,2,20,No,2024-02-25,NaN,1750
8,1003,2005,David Thompson,Carol White,1,20,No,2024-04-28,NaN,1250
9,1004,2002,David Thompson,John Doe,1,30,No,2023-04-30,NaN,1750
10,1004,2001,David Thompson,Carol White,2,30,No,2024-01-28,NaN,1750
11,1004,2001,David Thompson,Carol White,1,50,Yes,2024-02-18,NaN,2000
12,1005,2002,David Thompson,Alice Johnson,2,30,Yes,2023-04-02,NaN,2000
13,1005,2002,David Thompson,Jane Smith,1,30,Yes,2023-05-21,NaN,2000
14,1005,2001,David Thompson,Bob Brown,1,20,No,2023-06-04,NaN,1750
15,1005,2004,David Thompson,Carol White,1,50,No,2023-05-07,NaN,1750
16,1005,2002,David Thompson,Bob Brown,1,20,Yes,2023-10-22,NaN,2000
17,1005,2001,David Thompson,John Doe,1,40,No,2024-03-24,NaN,1750
18,1005,2003,David Thompson,Jane Smith,1,20,Yes,2024-07-21,NaN,2000
19,1005,2002,David Thompson,Carol White,1,30,Yes,2024-09-01,NaN,2000
20,1001,2002,Emily Davis,Carol White,1,20,No,2023-07-09,NaN,1750
21,1001,2001,Emily Davis,Alice Johnson,1,40,Yes,2023-08-27,NaN,1750
22,1001,2005,Emily Davis,Bob Brown,2,50,No,2024-03-10,NaN,1500
23,1001,2003,Emily Davis,John Doe,1,40,Yes,2024-06-02,NaN,2000
24,1001,2001,Emily Davis,Carol White,2,20,Yes,2024-08-25,NaN,1500
25,1001,2002,Emily Davis,Bob Brown,2,50,Yes,2024-10-20,NaN,2000
26,1002,2003,Emily Davis,Alice Johnson,2,40,No,2023-03-19,NaN,1750
27,1002,2002,Emily Davis,Jane Smith,2,20,No,2023-06-11,NaN,1250
28,1002,2005,Emily Davis,Jane Smith,1,50,No,2024-04-14,NaN,1750
29,1003,2004,Emily Davis,Carol White,2,30,Yes,2023-01-08,NaN,2000
30,1003,2005,Emily Davis,Jane Smith,1,20,Yes,2023-03-26,NaN,1500
31,1003,2001,Emily Davis,Bob Brown,1,30,Yes,2023-04-23,NaN,2000
32,1003,2003,Emily Davis,Jane Smith,1,40,Yes,2023-10-15,NaN,2000
33,1003,2003,Emily Davis,Carol White,2,20,No,2024-08-04,NaN,1750
34,1003,2003,Emily Davis,Carol White,2,20,No,2024-10-06,NaN,1750
35,1004,2005,Emily Davis,Bob Brown,1,30,No,2023-01-29,NaN,1750
36,1004,2001,Emily Davis,Alice Johnson,2,30,Yes,2023-08-06,NaN,2000
37,1004,2002,Emily Davis,John Doe,2,20,No,2023-08-20,NaN,1750
38,1004,2003,Emily Davis,Jane Smith,1,30,No,2023-11-05,NaN,1750
39,1004,2003,Emily Davis,Alice Johnson,2,40,No,2023-12-31,NaN,1750
40,1004,2001,Emily Davis,Carol White,1,20,No,2024-04-07,NaN,1750
41,1004,2004,Emily Davis,Alice Johnson,2,30,No,2024-08-18,NaN,1750
42,1005,2002,Emily Davis,Carol White,1,50,No,2023-05-07,NaN,1750
43,1005,2005,Emily Davis,Bob Brown,2,30,No,2023-09-10,NaN,1750
44,1005,2002,Emily Davis,Carol White,1,30,No,2023-10-29,NaN,1750
45,1005,2002,Emily Davis,Jane Smith,1,50,Yes,2024-05-05,NaN,2000
46,1005,2001,Emily Davis,Bob Brown,1,30,No,2024-05-19,NaN,1750
47,1001,2003,James Wilson,Bob Brown,2,50,No,2023-07-16,NaN,1750
48,1002,2002,James Wilson,Carol White,1,40,No,2023-03-05,NaN,1500
49,1002,2003,James Wilson,Bob Brown,2,20,Yes,2023-10-01,NaN,2000

In [ ]:
#convert to excel
df.to_excel('Mentorship_Session_Awarded.xlsx', index=False)

In [ ]:
df.head(10)

,Unnamed: 0,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded
0,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,40.0,Yes,2023-01-01,1250
1,2002.0,1003.0,Emily Davis,Carol White,2.0,30.0,Yes,2023-01-08,1250
2,2003.0,1005.0,James Wilson,Jane Smith,2.0,40.0,Yes,2023-01-15,1250
4,2001.0,1004.0,Emily Davis,Bob Brown,1.0,30.0,No,2023-01-29,1250
5,2003.0,1002.0,David Thompson,Jane Smith,2.0,50.0,No,2023-02-05,1250
6,2003.0,1002.0,Michael Lee,Jane Smith,2.0,50.0,No,2023-02-05,1250
7,2004.0,1004.0,Sarah Clark,John Doe,2.0,40.0,Yes,2023-02-12,1250
9,2002.0,1004.0,Sarah Clark,Carol White,1.0,30.0,No,2023-02-26,1250
10,2002.0,1002.0,James Wilson,Carol White,1.0,40.0,No,2023-03-05,1250
11,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,30.0,Maybe,2023-03-12,1250